@model UserService.API.ViewModels.Authorization.AuthorizeViewModel

<h1>
    Authorize
    <br/>
    <small>Do you want to grant @Model.ApplicationName access to your data?</small>
</h1>

<div class="row">
    <div class="col-lg-6">
        <form asp-controller="Authorization" asp-action="Authorize" method="post">
            @foreach (var parameter in Model.Parameters)
            {
                <input type="hidden" name="@parameter.Key" value="@parameter.Value" />
            }
            <input type="hidden" name="Scope" value="@Model.Scope" />

            <p>The application <strong>@Model.ApplicationName</strong> wants to access your data on your behalf.</p>
            
            <div class="form-group">
                <label>Scope</label>
                <input type="text" class="form-control" value="@Model.Scope" disabled />
            </div>

            <button name="submit.Accept" type="submit" class="btn btn-success" value="Accept">Accept</button>
            <button name="submit.Deny" type="submit" class="btn btn-danger" value="Deny">Deny</button>
        </form>
    </div>
</div> 